
body.cuerpo {
    background-color: #2b2b30;
    padding: 0px;
    margin: 0px;
}
h1 {
    font-size: 100px;
    color: #00ff00;
    font-family: sans-serif;
    margin-top: 0px;
    background-color: #212121;
    width: 100%;
}
header.about {
    background-color: #2b2b50;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
ul.videos {
    list-style-type: none;
    padding: auto;
    margin: 10px;
    width: 100%;
}
.menuCSS3 ul {
    display: inline-flex;
    padding: 2px;
    margin: 2px;
    list-style: none;
    font-size: 20px;
    /* position: relative; */
}
.menuCSS3 a {
    display: block;
    padding: 2rem;
    background-color: #212121;
    text-decoration: none;
    color: #00ff00;
    width: 100%;
}
.menuCSS3 a:hover {
    background-color: #212121;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: table;
}
iframe {
    margin: 20px;
    width: 40%;
}
p {
    text-align: center;
    font-family: Sans-Serif;
    color: #00ff00;
}
.imagen {
    width: 70%;
    box-shadow: -3px -3px 30px 3px red, 3px 3px 30px 3px blue;
    border-radius: 10px;
}
img.de {
    height: auto;
    width: auto;
    position: center;
    text-align: center;
}
.logo{
    width: 100%;
    border-radius: 10px;
}
@media  screen and (max-width: 800px) {
    .menuCSS3 a {
        width: auto;
    }
    .menuCSS3 li {
        background: none;
    }
    h1 {
        width: 100%;
        font-size: 30px;
    }
    .cont {
        display: none;
    }
    iframe {
        width: 400px;
        width: 80%;
        height: auto;
    }
}
